# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv

# Node / React
node_modules/
dist/
.vite/

# Logs & Emulators
*.log
firestore-debug.log
ui-debug.log
.firebase/
